<!-- header.html -->
<footer class="grid grid-cols-12 gap-x-5">
  <div class="col-start-2 col-span-10 flex justify-between items-center mb-10 mt-[550px] text-xs text-[#5B5B5B]">
    <nav class="flex flex-col">
      <a href="https://www.instagram.com/noirmouton_/" class="hover:text-black">INSTAGRAM</a>
      <a href="www.linkedin.com/in/antoine-berry-mouton-a1865520b" class="hover:text-black">LINKEDIN</a>
      <a href="mailto:antoineberrymouton@gmail.com" class="hover:text-black">EMAIL ME</a> 
    </nav>
    <div class="flex gap-20">
      <nav class="flex flex-col">
          <a href="../Pages/porsche.html" class="hover:text-black uppercase">[01_Porsche]</a>
          <a href="../Pages/junk_drawer.html" class="hover:text-black uppercase">[02_Junk_Drawer]</a>
          <a href="../Pages/essential.html" class="hover:text-black uppercase">[03_Essential] </a>
      </nav>
      <nav class="flex flex-col">
          <a href="../Pages/f1_lego.html" class="hover:text-black uppercase">[04_F1_Lego]</a>
          <a href="../Pages/touch_designer.html" class="hover:text-black uppercase">[05_Touch_Designer]</a>
          <a href="../Pages/sketch_storyboard.html" class="hover:text-black uppercase">[06_Sketch_Storyboard]</a>
      </nav>
      <a href="https://www.instagram.com/noirmouton_/" class="hover:text-black lowercase">@noirmouton_</a>
    </div>
  </div>
</footer>