<!-- header.html -->
 <header class="grid grid-cols-12 gap-x-5">
  <div class="col-start-2 col-span-10 flex justify-between items-center pt-4 pb-20 text-sm">
    <a href="/index.html" class="font-mono font-bold tracking-wide">ANTOINE_BERRY_MOUTON</a>
    <div class="flex space-x-24 text-xs text-[#5B5B5B]">
      <a href="#footer-placeholder" class="hover:text-black">CONTACT</a>
      <a href="#footer-placeholder" class="hover:text-black">WORK</a>
      <a href="https://www.instagram.com/noirmouton_/" class="hover:text-black">@noirmouton_</a>
    </div>
  </div>
</header>